.file-manager {
  .file-entry {
    cursor: pointer;
    padding: 0.25em 0.75em;

    .tag-display {
      margin-left: auto;
      opacity: 0.6;
    }

    .file-entry-toggle {
      opacity: 0.2;
    }

    .file-entry-toggle:hover {
      opacity: 1.0;
    }
  }

  .tag-editor {
    .tag-list {
      .control:not(:last-child) {
        margin-right: 0.25rem;
      }
    }

    .tag-control {
      @media screen and (max-width: 768px) {
        .column:not(:first-child) {
          padding-top: 0;
        }

        .column:not(:last-child) {
          padding-bottom: 0;
        }
      }

      @media screen and (min-width: 769px) {
        .column:not(:first-child) {
          padding-left: 0;
        }

        .column:not(:last-child) {
          padding-right: 0;
        }
      }
    }
  }

  .breadcrumb {
    li.folder a {
      padding-left: 0.25em;
      padding-right: 0.5em;
    }

    li.home a {
      padding-left: 0;
      padding-right: 0.25em;
    }
  }
}